{% for msg in app.session.flashbag.get('success') %}
    <div class="alert alert-success">{{  msg }}</div>
{% endfor %}

{% for msg in app.session.flashbag.get('error') %}
    <div class="alert alert-danger">{{  msg }}</div>
{% endfor %}

{% for msg in app.session.flashbag.get('warinig') %}
    <div class="alert alert-warning">{{  msg }}</div>
{% endfor %}