body{
    margin:0;
    font-family:sans-serif;
    padding:0;
    background: white;
    background-size:cover;
    
    
}
.box{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    height:400px;
    width:400px;
    padding:50px;
    background: rgba(0,0,0,.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px;
    
    
}

.box h2{
    margin: 0 0 30px;
    padding:1;
    color: #FFF;
   text-align: center;
    
}
.box .inputBox
{
    position:relative;
    
}
.box .inputBox input
{
    background:transparent;

    color:#fff;
    border:none;
    border-bottom:1px solid #FFF;
    letter-spacing:1px;
    font-size:16px;
    margin-bottom:30px;

    padding:11px 0;
    outline:none;
    width:100%;
    
}
.box .inputBox label
{
    color:#FFF;

    position: absolute;
    top:0px;
    left:0px;
    padding: 10px 0;
    font-size:16px;
    pointer-events:none;
    transition:.5s;
    
}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label
{
    top:-22px;
    left:0;
    color:#03a9f4;
    font-size:12px;
}

.box input[type="submit"]
{
    background:transparent;
    border:none;
    border-radius:5px;
    outline:none;
    color:#FFF;
    background:#03a9f4;
    padding:10px 20px;
    cursor: pointer;
    
    
}
.box a 
{
    color:white;
    float:right;
    text-decoration:none;
    
}
